.redactor-toolbar {
	background-color:#324050;
	border: 1px solid #eee;
	box-shadow: none;
}

.redactor-editor {
	border-top:0px;
	min-height:250px;
}

.redactor-toolbar li {
	height:34px;
	width:34px;
}

.redactor-toolbar li a {
	color:#9ca5b2;
	line-height:34px;
	padding:0px;
	text-align:center;
	height:auto !important;
	width:auto !important;
}

.redactor-toolbar li a:hover {
	background-color:#283542;
	color:#4b9ad9;
}

.redactor-dropdown {
	background-color:#324050;
	box-shadow: none;
}

.redactor-dropdown a {
	border-top:1px solid #9ca5b2;
	color:#9ca5b2;
	font-size: 14px !important;
	font-weight:normal !important;
	height: 34px !important;
	line-height: 34px !important;
	padding: 0px 10px !important;
	white-space: nowrap;
}

.redactor-dropdown a:hover {
	background-color: #283542 !important;
	color: #4b9ad9 !important;
}

.redactor-toolbar li a:hover i:before {
	color: #4b9ad9 !important;
}

.redactor-dropdown a.redactor-dropdown-link-inactive {
	display:none;
}

.redactor-toolbar li a.fa-redactor-btn {
	position:relative;
}

/****************************/

.re-icon {
  font-family: 'FontAwesome';
}
.re-icon i:before {
  position: relative;
  font-size: 14px;
}
.re-video:before {
  content: "\f16a";
}
.re-unorderedlist:before {
  content: "\f0ca";
}
.re-undo:before {
  content: "\f0e2";
}
.re-underline:before {
  content: "\f0cd";
}
.re-textdirection:before {
  content: "\e604";
  font-family: 'RedactorFont';
}
.re-fontcolor:before {
  content: "\f1fc";
}
.re-table:before {
  content: "\f0ce";
}
.re-redo:before {
  content: "\f01e";
}
.re-quote:before {
  content: "\f10d";
}
.re-outdent:before {
  content: "\f03b";
}
.re-orderedlist:before {
  content: "\f0cb";
}
.re-link:before {
  content: "\f0c1";
}

.re-heading1:after,
.re-heading2:after,
.re-heading3:after,
.re-heading4:after,
.re-heading5:after,
.re-heading6:after {
	font-size:14px;
	position:absolute;
	top:10px;
	right:2px;
}

.re-heading1:after {
  content: "1";
}
.re-heading2:after {
  content: "2";
}
.re-heading3:after {
  content: "3";
}
.re-heading4:after {
  content: "4";
}
.re-heading5:after {
  content: "5";
}
.re-heading6:after {
  content: "6";
}
.re-horizontalrule:before {
  content: "\e60c";
  font-family: 'RedactorFont';
}
.re-italic:before {
  content: "\f033";
}
.re-indent:before {
  content: "\f03c";
}
.re-image:before {
  content: "\f03e";
}
.re-fullscreen:before {
  content: "\f065";
}
.re-normalscreen:before {
  content: "\f066";
}
.re-formatting:before {
  content: "\f1dd";
}
.re-fontsize:before {
  content: "\f034";
}
.re-fontfamily:before {
  content: "\f031";
}
.re-deleted:before {
  content: "\f0cc";
}
.re-html:before {
  content: "\f121";
}
.re-clips:before {
  content: "\f009";
}
.re-bold:before {
  content: "\f032";
}
.re-file:before {
  content: "\f0c6";
}
.re-alignright:before {
  content: "\f038";
}
.re-alignment:before,
.re-alignleft:before {
  content: "\f036";
}
.re-alignjustify:before {
  content: "\f039";
}
.re-aligncenter:before {
  content: "\f037";
}